<a href="https://colab.research.google.com/github/jattFaizan423/Faizan-jatt/blob/main/FraudTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
f = pd.read_csv("/content/fraudTest.csv", on_bad_lines="skip")

In [4]:
df1 = f.iloc[0:20000]

In [94]:
df1.head(6)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,21/06/2020 12:14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209.0,33.9659,-80.9355,333497.0,Mechanical engineer,19/03/1968,2da90c7d74bd46a0caf3777415b3ebd3,1.371817e+09,33.986391,-81.200714,0.0
1,1,21/06/2020 12:14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002.0,40.3207,-110.4360,302.0,"Sales professional, IT",17/01/1990,324cc204407e99f51b0d6ca0055005e7,1.371817e+09,39.450498,-109.960431,0.0
2,2,21/06/2020 12:14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710.0,40.6729,-73.5365,34496.0,"Librarian, public",21/10/1970,c81755dbbbea9d5c77f094348a7579be,1.371817e+09,40.495810,-74.196111,0.0
3,3,21/06/2020 12:15,3.591920e+15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780.0,28.5697,-80.8191,54767.0,Set designer,25/07/1987,2159175b9efe66dc301f149d3d5abf8c,1.371817e+09,28.812398,-80.883061,0.0
4,4,21/06/2020 12:15,3.526830e+15,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632.0,44.2529,-85.0170,1126.0,Furniture designer,06/07/1955,57ff021bd3f328f8738bb535c302a31b,1.371817e+09,44.959148,-85.884734,0.0
5,5,21/06/2020 12:15,3.040770e+13,fraud_Daugherty LLC,kids_pets,19.55,Danielle,Evans,F,76752 David Lodge Apt. 064,Breesport,NY,14816.0,42.1939,-76.7361,520.0,Psychotherapist,13/10/1991,798db04aaceb4febd084f1a7c404da93,1.371817e+09,41.747157,-77.584197,0.0

In [5]:
df = df1.copy()

In [6]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [7]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,21/06/2020 12:14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209.0,33.9659,-80.9355,333497.0,Mechanical engineer,19/03/1968,2da90c7d74bd46a0caf3777415b3ebd3,1.371817e+09,33.986391,-81.200714,0.0
1,1,21/06/2020 12:14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002.0,40.3207,-110.4360,302.0,"Sales professional, IT",17/01/1990,324cc204407e99f51b0d6ca0055005e7,1.371817e+09,39.450498,-109.960431,0.0
2,2,21/06/2020 12:14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710.0,40.6729,-73.5365,34496.0,"Librarian, public",21/10/1970,c81755dbbbea9d5c77f094348a7579be,1.371817e+09,40.495810,-74.196111,0.0
3,3,21/06/2020 12:15,3.591920e+15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780.0,28.5697,-80.8191,54767.0,Set designer,25/07/1987,2159175b9efe66dc301f149d3d5abf8c,1.371817e+09,28.812398,-80.883061,0.0
4,4,21/06/2020 12:15,3.526830e+15,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632.0,44.2529,-85.0170,1126.0,Furniture designer,06/07/1955,57ff021bd3f328f8738bb535c302a31b,1.371817e+09,44.959148,-85.884734,0.0

In [8]:
Transaction_date = df['trans_date_trans_time'].str.strip().str.split(' ').str[0]

In [9]:
df.insert(2, 'Transaction_date', Transaction_date)

In [10]:
df['Transaction_date'] = pd.to_datetime(df['Transaction_date'])

/tmp/ipython-input-3349328332.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Transaction_date'] = pd.to_datetime(df['Transaction_date'])

In [11]:
Transaction_time = df['trans_date_trans_time'].str.strip().str.split(' ').str[1]

In [12]:
df.insert(3, 'Transaction_time', Transaction_time)

In [76]:
df['Transaction_time'] = pd.to_datetime(df['Transaction_time'], errors='coerce').dt.strftime('%H:%M:%S')

In [14]:
df['cc_num'] = (
    df['cc_num']
    .astype(str)
    .str.replace(r'\.0$', '', regex=True)   # remove trailing .0
    .str.replace(r'\D', '', regex=True)     # remove any non-digit chars
)

In [15]:
df.rename(columns={'cc_num': 'credit_card_number'}, inplace=True)

In [16]:
df['credit_card_number'] = df['credit_card_number'].astype(int)

In [17]:
df['merchant'] = df['merchant'].str.strip().str.replace('fraud_', '')

In [18]:
df['merchant'] = df['merchant'].str.split(' ').str[0]

In [79]:
df['merchant'] = df['merchant'].str.replace(',','').str.split('-').str[0].astype('category')

In [20]:
df['merchant'] = df['merchant'].str.capitalize()

In [21]:
df['category'] = df['category'].str.strip().str.replace('_',' ').str.capitalize().astype('category')

In [22]:
df.rename(columns={'amt': 'amount'}, inplace=True)

In [23]:
df['amount'] = df['amount'].astype(float)

In [24]:
df['first'] = df['first'].str.strip().str.capitalize().astype('category')

In [25]:
df['last'] = df['last'].str.strip().str.capitalize().astype('category')

In [26]:
def map_gender(value):
    if str(value).strip().upper() == 'M':
        return 'Male'
    elif str(value).strip().upper() == 'F':
        return 'Female'
    else:
        return 'Unknown'
df['gender'] = df['gender'].apply(map_gender)

In [27]:
df['gender'] = df['gender'].astype('category')

In [28]:
Building_Number = df['street'].str.strip().str.split(' ').str[0]

In [29]:
df.insert(11, 'Building_Number', Building_Number)

In [81]:
df['Building_Number'] = df['Building_Number'].astype('int32')

In [30]:
import re
def clean_street(address):
    address = str(address).strip()
    address = re.sub(r'\s+', ' ', address)

    match = re.match(r'^(\d+)\s+(.*)$', address)
    if not match:
        return address
    house_number = match.group(1)
    rest = match.group(2)

    apt_words = ['apartment', 'apt', 'suite', 'ste', 'unit', 'flat', 'floor', 'room', '#']
    apt_index = -1
    for word in apt_words:
        idx = rest.lower().find(word)
        if idx != -1:
            apt_index = idx
            break
    if apt_index != -1:
        street_name = rest[:apt_index].strip()
        apt_part = rest[apt_index:].strip()
        return f"{house_number}, {street_name}, {apt_part}"
    else:
        return f"{house_number}, {rest}"
df['street'] = df['street'].apply(clean_street)

In [31]:
Street_Name = df['street'].str.split(',').str[1]

In [32]:
df.insert(12, 'Street_Name', Street_Name)

In [83]:
df['Street_Name'] = df['Street_Name'].astype('category')

In [33]:
df['city'] = df['city'].str.strip().astype('category')

In [34]:
def convert_state_abbr(abbr):
    state_map = {
        'TX': 'Texas', 'NY': 'New York', 'PA': 'Pennsylvania', 'CA': 'California',
        'OH': 'Ohio', 'MI': 'Michigan', 'FL': 'Florida', 'IL': 'Illinois',
        'AL': 'Alabama', 'MO': 'Missouri', 'AR': 'Arkansas', 'MN': 'Minnesota',
        'WI': 'Wisconsin', 'VA': 'Virginia', 'SC': 'South Carolina',
        'NC': 'North Carolina', 'IA': 'Iowa', 'IN': 'Indiana', 'KY': 'Kentucky',
        'MD': 'Maryland', 'GA': 'Georgia', 'OK': 'Oklahoma', 'NJ': 'New Jersey',
        'WV': 'West Virginia', 'NE': 'Nebraska', 'MS': 'Mississippi',
        'KS': 'Kansas', 'LA': 'Louisiana', 'WY': 'Wyoming', 'TN': 'Tennessee',
        'OR': 'Oregon', 'WA': 'Washington', 'NM': 'New Mexico', 'ME': 'Maine',
        'CO': 'Colorado', 'SD': 'South Dakota', 'ND': 'North Dakota',
        'MA': 'Massachusetts', 'VT': 'Vermont', 'MT': 'Montana', 'AZ': 'Arizona',
        'UT': 'Utah', 'NH': 'New Hampshire', 'CT': 'Connecticut', 'ID': 'Idaho',
        'NV': 'Nevada', 'DC': 'District of Columbia', 'HI': 'Hawaii',
        'AK': 'Alaska', 'RI': 'Rhode Island'
    }
    return state_map.get(abbr, abbr)

In [35]:
df['state'] = df['state'].apply(convert_state_abbr).astype('category')

In [36]:
df.rename(columns={'zip':'zip_code'},inplace=True)

In [37]:
df['zip_code'] = df['zip_code'].astype(str).str.zfill(5)

In [86]:
df['zip_code'] = df['zip_code'].astype(str).str.replace(r'\.0$', '', regex=True).astype(int)

In [38]:
df.rename(columns={'lat':'latitude','long':'longitude'},inplace=True)

In [39]:
df['latitude'] = df['latitude'].round(2)

In [40]:
df['longitude'] = df['longitude'].round(2)

In [41]:
df['city_pop'] = df['city_pop'].astype(int)

In [55]:
df['job'] = df['job'].str.split('/').str[0].str.split(',').str[0].astype('category')

In [43]:
df.rename(columns={'dob':'Date_of_birth'},inplace=True)

In [44]:
df['Date_of_birth'] = pd.to_datetime(df['Date_of_birth'])

/tmp/ipython-input-3821180979.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date_of_birth'] = pd.to_datetime(df['Date_of_birth'])

In [45]:
df.rename(columns={'unix_time': 'transaction_time_sec'}, inplace=True)

In [46]:
df['transaction_time_sec'] = df['transaction_time_sec'].astype(int)

In [47]:
df['merch_lat'] = df['merch_lat'].round(2).astype(int)

In [48]:
df['merch_long'] = df['merch_long'].round(2).astype(int)

In [49]:
df['is_fraud'] = df['is_fraud'].astype(bool)

In [91]:
df.head(10)

,Transaction_date,Transaction_time,credit_card_number,merchant,category,amount,first,last,gender,Building_Number,Street_Name,city,state,zip_code,latitude,longitude,city_pop,job,Date_of_birth,transaction_time_sec,merch_lat,merch_long,is_fraud
0,2020-06-21,12:14:00,2291160000000000,Kirlin,Personal care,2.86,Jeff,Elliott,Male,351,Darlene Green,Columbia,South Carolina,29209,33.97,-80.94,333497,Mechanical engineer,1968-03-19,1371816865,33,-81,False
1,2020-06-21,12:14:00,3573030000000000,Sporer,Personal care,29.84,Joanne,Williams,Female,3638,Marsh Union,Altonah,Utah,84002,40.32,-110.44,302,Sales professional,1990-01-17,1371816873,39,-109,False
2,2020-06-21,12:14:00,3598220000000000,Swaniawski,Health fitness,41.28,Ashley,Lopez,Female,9333,Valentine Point,Bellmore,New York,11710,40.67,-73.54,34496,Librarian,1970-10-21,1371816893,40,-74,False
3,2020-06-21,12:15:00,3591920000000000,Haley,Misc pos,60.05,Brian,Williams,Male,32941,Krystal Mill,Titusville,Florida,32780,28.57,-80.82,54767,Set designer,1987-07-25,1371816915,28,-80,False
4,2020-06-21,12:15:00,3526830000000000,Johnston,Travel,3.19,Nathan,Massey,Male,5783,Evan Roads,Falmouth,Michigan,49632,44.25,-85.02,1126,Furniture designer,1955-07-06,1371816917,44,-85,False
5,2020-06-21,12:15:00,30407700000000,Daugherty,Kids pets,19.55,Danielle,Evans,Female,76752,David Lodge,Breesport,New York,14816,42.19,-76.74,520,Psychotherapist,1991-10-13,1371816937,41,-77,False
6,2020-06-21,12:15:00,213181000000000,Romaguera,Health fitness,133.93,Kayla,Sutton,Female,10,Weaver Land,Carlotta,California,95528,40.51,-123.97,1139,Therapist,1951-01-15,1371816944,41,-124,False
7,2020-06-21,12:15:00,3589290000000000,Reichel,Personal care,10.37,Paula,Estrada,Female,350,Stacy Glens,Spencer,South Dakota,57374,43.76,-97.59,343,Development worker,1972-03-05,1371816950,44,-97,False
8,2020-06-21,12:16:00,3596360000000000,Goyette,Shopping pos,4.37,David,Everett,Male,4138,David Fall,Morrisdale,Pennsylvania,16858,41.00,-78.24,3688,Advice worker,1973-05-27,1371816970,41,-78,False
9,2020-06-21,12:16:00,3546900000000000,Kilback,Food dining,66.54,Kayla,Obrien,Female,7921,Robert Port,Prairie Hill,Texas,76678,31.66,-96.81,263,Barrister,1956-05-30,1371816971,31,-96,False

In [89]:
df.drop(['Unnamed: 0', 'trans_date_trans_time', 'street', 'trans_num',
         'Transaction_time_only', 'Transaction_dt'],
        axis=1, inplace=True, errors='ignore')

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_date      20000 non-null  datetime64[ns]
 1   Transaction_time      20000 non-null  object
 2   credit_card_number    20000 non-null  int64
 3   merchant              20000 non-null  category
 4   category              20000 non-null  category
 5   amount                20000 non-null  float64
 6   first                 20000 non-null  category
 7   last                  20000 non-null  category
 8   gender                20000 non-null  category
 9   Building_Number       20000 non-null  int32
 10  Street_Name           20000 non-null  category
 11  city                  20000 non-null  category
 12  state                 20000 non-null  category
 13  zip_code              20000 non-null  int64
 14  latitude              20000 non-null  float64
 15  longitude             20000 non-null  float64
 16  city_pop              20000 non-null  int64
 17  job                   20000 non-null  category
 18  Date_of_birth         20000 non-null  datetime64[ns]
 19  transaction_time_sec  20000 non-null  int64
 20  merch_lat             20000 non-null  int64
 21  merch_long            20000 non-null  int64
 22  is_fraud              20000 non-null  bool
dtypes: bool(1), category(9), datetime64[ns](2), float64(3), int32(1), int64(6), object(1)
memory usage: 2.4+ MB