<a href="https://colab.research.google.com/github/jattFaizan423/Faizan-jatt/blob/main/housing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
melborn = pd.read_csv('/content/Melbourne_housing_FULL.csv')

In [75]:
melborn.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04/02/2016,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,06/08/2016,2.5,3067.0,3.0,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,06/08/2016,2.5,3067.0,4.0,1.0,2.0,201.0,NaN,1900.0,Yarra City Council,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,06/08/2016,2.5,3067.0,3.0,2.0,1.0,202.0,NaN,1900.0,Yarra City Council,-37.7996,144.9989,Northern Metropolitan,4019.0

In [ ]:

df = melborn.copy()

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
df['Suburb'] = df['Suburb'].astype('category')

In [ ]:
df['address'] = df['Address'].str.lower().str.strip().str.split(' ',n=1).str[0]

In [ ]:
df['address'] = df['address'].str.replace(r'[a-zA-Z]', '', regex=True)

In [ ]:
unit_no = df['address'].str.split('/').str[0]

In [ ]:
df.insert(1,'unit_no',unit_no)

In [ ]:
df['unit_no'] = df['unit_no'].astype('int32')

In [ ]:
street_no = df['address'].str.split('/').str[1].fillna('no_street_number')

In [ ]:
df.insert(2,'street_no',street_no)

In [ ]:
df['street_no'] = df['street_no'].astype('category')

In [ ]:
street_name = df['Address'].str.strip().str.split(' ',n=1).str[1]

In [ ]:
df.insert(3,'street_name',street_name)

In [ ]:
df['street_name'] = df['street_name'].astype('category')

In [ ]:
df['Rooms'] = df['Rooms'].astype('int32')

In [ ]:
df['Type'].value_counts()

Type
h    23980
u     7297
t     3580
Name: count, dtype: int64

In [ ]:
house = df['Type'].apply(lambda x :1 if x == 'h' else 0)

In [ ]:
df.insert(6,'house',house)

In [ ]:
df['house'] = df['house'].astype('int32')

In [ ]:
apartment = df['Type'].apply(lambda x :1 if x == 'u' else 0)

In [ ]:
df.insert(7,'apartment',apartment)

In [ ]:
df['apartment'] = df['apartment'].astype('int32')

In [ ]:
townhouse = df['Type'].apply(lambda x :1 if x == 't' else 0)

In [ ]:
df.insert(8,'townhouse',townhouse)

In [ ]:
df['townhouse'] = df['townhouse'].astype('int32')

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Use features correlated with Price (e.g., Rooms, Distance, Bedroom2)
imputer = IterativeImputer()
df['Price'] = imputer.fit_transform(df[['Price', 'Rooms', 'Distance', 'Landsize']])[:, 0]

In [ ]:
df['Price'] = df['Price'].astype('int64')

In [ ]:
def explain_method(method_code):
    method_map = {
        'S': 'Private Sale',
        'SP': 'Disclosed Sale',
        'PI': 'Passed In',
        'VB': 'Vendor Bid',
        'SN': 'Sold (Hidden)',
        'PN': 'No Bids',
        'SA': 'Sold After',
        'W': 'Withdrawn',
        'SS': 'Sold Early'
    }

    return method_map.get(method_code, f"Unknown method: {method_code}")

In [ ]:
df['Method'] = df['Method'].apply(explain_method)

In [ ]:
df['Method'] = df['Method'].astype('category')

In [ ]:
df['SellerG'] = df['SellerG'].astype('category')

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

In [ ]:
df['Distance'] = df['Distance'].fillna('11.2')

In [ ]:
df['Distance'] = df['Distance'].astype(float)

In [ ]:
df['Postcode'] = df['Postcode'].fillna('3073.0')

In [ ]:
df['Postcode'] = df['Postcode'].astype(str).str.replace('\.0$', '', regex=True)

In [ ]:
df['Postcode'] = df['Postcode'].astype('int64')

In [ ]:
df['Bedroom2'] = df['Bedroom2'].fillna(3.0)

In [ ]:
df['Bedroom2'] = df['Bedroom2'].astype('int32')

In [ ]:
df.drop([2536,12043,26210,27150,27390,27391],inplace=True)

In [ ]:
df['Bathroom'] = df.groupby(['Rooms', 'Type'])['Bathroom'].transform(lambda x: x.fillna(x.median()))

In [ ]:
df['Bathroom'] = df['Bathroom'].fillna(1.0)

In [ ]:
df['Bathroom'] = df['Bathroom'].astype('int32')

In [ ]:
df['Car'] = df['Car'].fillna(2.0)

In [ ]:
df['Car'] = df['Car'].astype('int32')

In [ ]:
df['Landsize'] = df['Landsize'].mask(df['Landsize'] == 0.0, np.nan)

In [ ]:
df['Landsize'] = df.groupby('Suburb')['Landsize'].transform(lambda x: x.fillna(x.median()))

/tmp/ipython-input-50-769034944.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['Landsize'] = df.groupby('Suburb')['Landsize'].transform(lambda x: x.fillna(x.median()))

In [ ]:
df['Landsize'] = df['Landsize'].fillna(585.0)

In [ ]:
# Simple version
df['BuildingArea'] = df.groupby(['Type', 'Rooms', 'Bathroom'])['BuildingArea'].transform(
    lambda x: x.fillna(x.median())
)
df['BuildingArea'] = df['BuildingArea'].fillna(df['BuildingArea'].median())

In [ ]:
df['YearBuilt'] = df.groupby('Suburb')['YearBuilt'].transform(lambda x: x.fillna(x.median()))

/tmp/ipython-input-53-2981038322.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['YearBuilt'] = df.groupby('Suburb')['YearBuilt'].transform(lambda x: x.fillna(x.median()))

In [ ]:
df['YearBuilt'] = df['YearBuilt'].fillna(1970.0)

In [ ]:
df['YearBuilt'] = df['YearBuilt'].astype('int64')

In [ ]:
df['CouncilArea'] = df['CouncilArea'].fillna('Boroondara City Council')

In [ ]:
df['CouncilArea'] = df['CouncilArea'].astype('category')

In [ ]:
df['Regionname'] = df['Regionname'].fillna('Southern Metropolitan')

In [ ]:
region_direction = df['Regionname'].str.lower().str.strip().str.replace('-','').str.split(' ').str[0]

In [ ]:
df.insert(25,'region_direction',region_direction)

In [ ]:
df['region_direction'] = df['region_direction'].astype('category')

In [ ]:
region_type = df['Regionname'].str.lower().str.strip().str.replace('-','').str.split(' ').str[1]

In [ ]:
df.insert(26,'region_type',region_type)

In [ ]:
df['region_type'] = df['region_type'].astype('category')

In [ ]:
df['Propertycount'] = df['Propertycount'].fillna(21650.0)

In [ ]:
df['Propertycount'] = df['Propertycount'].astype('int32')

In [ ]:
df.drop(df[df['Landsize'] == 2.0].index,inplace=True)

In [ ]:
df.drop(['Address','Type','Lattitude','Longtitude','Regionname','address'],axis=1,inplace=True)

In [77]:
df.head(12)

,Suburb,unit_no,street_no,street_name,Rooms,house,apartment,townhouse,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,region_direction,region_type,Propertycount
0,Abbotsford,68,no_street_number,Studley St,2,1,0,0,978323,Sold Early,Jellis,2016-09-03,2.5,3067,2,1,1,126.0,95.0,1922,Yarra City Council,northern,metropolitan,4019
1,Abbotsford,85,no_street_number,Turner St,2,1,0,0,1480000,Private Sale,Biggin,2016-12-03,2.5,3067,2,1,1,202.0,95.0,1922,Yarra City Council,northern,metropolitan,4019
2,Abbotsford,25,no_street_number,Bloomburg St,2,1,0,0,1035000,Private Sale,Biggin,2016-02-04,2.5,3067,2,1,0,156.0,79.0,1900,Yarra City Council,northern,metropolitan,4019
3,Abbotsford,18,659,Victoria St,3,0,1,0,1360378,Vendor Bid,Rounds,2016-02-04,2.5,3067,3,2,1,174.0,123.0,1922,Yarra City Council,northern,metropolitan,4019
4,Abbotsford,5,no_street_number,Charles St,3,1,0,0,1465000,Disclosed Sale,Biggin,2017-03-04,2.5,3067,3,2,0,134.0,150.0,1900,Yarra City Council,northern,metropolitan,4019
5,Abbotsford,40,no_street_number,Federation La,3,1,0,0,850000,Passed In,Biggin,2017-03-04,2.5,3067,3,2,1,94.0,148.0,1922,Yarra City Council,northern,metropolitan,4019
6,Abbotsford,55,no_street_number,Park St,4,1,0,0,1600000,Vendor Bid,Nelson,2016-06-04,2.5,3067,3,1,2,120.0,142.0,2014,Yarra City Council,northern,metropolitan,4019
7,Abbotsford,16,no_street_number,Maugie St,4,1,0,0,1747002,Sold (Hidden),Nelson,2016-08-06,2.5,3067,3,2,2,400.0,220.0,2006,Yarra City Council,northern,metropolitan,4019
8,Abbotsford,53,no_street_number,Turner St,2,1,0,0,978974,Private Sale,Biggin,2016-08-06,2.5,3067,4,1,2,201.0,95.0,1900,Yarra City Council,northern,metropolitan,4019
9,Abbotsford,99,no_street_number,Turner St,2,1,0,0,978983,Private Sale,Collins,2016-08-06,2.5,3067,3,2,1,202.0,121.0,1900,Yarra City Council,northern,metropolitan,4019
10,Abbotsford,129,no_street_number,Charles St,2,1,0,0,941000,Private Sale,Jellis,2016-05-07,2.5,3067,2,1,0,181.0,95.0,1922,Yarra City Council,northern,metropolitan,4019
11,Abbotsford,124,no_street_number,Yarra St,3,1,0,0,1876000,Private Sale,Nelson,2016-05-07,2.5,3067,4,2,0,245.0,210.0,1910,Yarra City Council,northern,metropolitan,4019

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34850 entries, 0 to 34856
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Suburb            34850 non-null  category
 1   unit_no           34850 non-null  int32
 2   street_no         34850 non-null  category
 3   street_name       34850 non-null  category
 4   Rooms             34850 non-null  int32
 5   house             34850 non-null  int32
 6   apartment         34850 non-null  int32
 7   townhouse         34850 non-null  int32
 8   Price             34850 non-null  int64
 9   Method            34850 non-null  category
 10  SellerG           34850 non-null  category
 11  Date              34850 non-null  datetime64[ns]
 12  Distance          34850 non-null  float64
 13  Postcode          34850 non-null  int64
 14  Bedroom2          34850 non-null  int32
 15  Bathroom          34850 non-null  int32
 16  Car               34850 non-null  int32
 17  Landsize          34850 non-null  float64
 18  BuildingArea      34850 non-null  float64
 19  YearBuilt         34850 non-null  int64
 20  CouncilArea       34850 non-null  category
 21  region_direction  34850 non-null  category
 22  region_type       34850 non-null  category
 23  Propertycount     34850 non-null  int32
dtypes: category(8), datetime64[ns](1), float64(3), int32(9), int64(3)
memory usage: 5.1 MB